* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.center {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
/* ======= header ======= */
.header {
    background-color: #222222;
    padding: 18px 0 19px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.header-logo {
    max-width: 111px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.header-logo svg {
    fill: #E8E8E8;
}
.header-logo svg:hover {
    fill: #F16D7F;
}
.header-logo svg:active {
    fill: #E8E8E8;;
}
.header-logo-img {
    background-image: url("../img/logo.png");
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    width: 44px;
    height: 38px;
}

.header-logo-search {
    display: block;
    width: 26px;
    height: 26px;
    position: relative;
}

.header-logo-search__input {
    margin-left: 5px;
    width: 0px;
    min-height: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color:transparent;
    color: #fff;
    position: absolute;
    top: -1px;
    left: 30px;
    border: none;
}

.header-logo-search__input:focus {
    width: 180px;
    transition: width 1s ease;
    /* border: 1px solid #fff; */
    padding: 5px;

}


.header-button {
    max-width: 159px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    align-items: center;
    align-content: space-between;
}

.header-button-nav-btn {
    display: block;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-button-nav-btn span {
    width: 100%;
    height: 3px;
    background-color: #E8E8E8;
    position: relative;

}
.header-button-nav-btn:hover span,
.header-button-nav-btn:hover span::before,
.header-button-nav-btn:hover span::after
 {
    background-color: #F16D7F;
}
.header-button-nav-btn:active span,
.header-button-nav-btn:active span::before,
.header-button-nav-btn:active span::after {
    background-color: #E8E8E8;
}

.header-button-nav-btn span::before,
.header-button-nav-btn span::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #E8E8E8;
    position: absolute;
    top: -10px;
    left: 0;
} 
 .header-button-nav-btn span::after {
    top: 10px;
} 
#menu-switch {
    display: none;
}

#menu-switch:checked ~ .menu-list {
    display: block;
}

.menu-list {
    display: none;
    max-width: 232px;
    width: 100%;
    min-height: 634px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 32px 74px 32px 32px;
    position: absolute;
    top: 75px;
    right: 0;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    
}
.menu-list-item {
    list-style-type: none;
  }

.menu-list-item > a {
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 12px 0
}

.menu-list-item:hover > a {
    color: #b784a7;
    transition: 0.2s;
    transform: scale(1.1);
}
.menu-list-item:active > a {
    text-decoration: none;
}


.menu-list-close-btn {

}

.menu-list-item-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    margin: 0 0 24px 0;
    
}

.menu-sublist {
    display: block;
    box-sizing: border-box;
    padding-left: 21.5px;
}

.menu-sublist-item {
    list-style-type: none;
}
.menu-sublist-item > a {
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    list-style: none;
    text-transform: none;
    margin: 0 0 11px 0;

}

.menu-sublist-item a {
    text-decoration: none;
}
.menu-sublist-item:hover a {
    text-decoration: underline;
    transition: 0.2s;
    transform: scale(1.1);
}
.menu-sublist-item:active a {
    text-decoration: none;
}


.header-button-basket {
    max-width: 32px;
    width: 100%;
}

.header-button-basket-ancor {
    text-decoration: none;
    position: relative;
}
.header-button-basket-ancor span {
    width: 19px;
    height: 17px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #F16D7F;
    color: #fff;
    position: absolute;
    right: -10px;
    top: -19px;
}

.header-button-basket-ancor svg {
    fill: #E8E8E8;
}
header-button-basket-ancor:hover svg {
    fill: orange;
}
header-button-basket-ancor:active svg {
    fill: red;
}
/* ======= END header ======= */

/* ======= top ======= */
.top {
    background: #F1E4E6;
    margin: 0 0 65px 0;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    display: flex;
    gap: 63px;
}

.top-image {
    width: 50%;
}

.top-image img {
    max-width: 100%;
}

.top-title {
    max-width: 405px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.top-title-txt {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    max-width: 377px;
    width: 100%;
}

.top-title-txt__size {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: block;
}

.top-title-txt__color {
    color: #F16D7F;
}

/* ======= END top ======= */

/* ======= offer ======= */

.offer {
margin: 0 auto 96px auto;
}

.offer-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 360px));
    gap: 30px;
}

.offer-list__big {
    grid-column: span 3;
}

.offer-list-item:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.offer-list-item-img {
    background-image: url("../img/for_women.jpg");
    max-width: 360px;
    width: 100%;
    height: 260px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.offer-list-item-img__2 {
    background-image: url("../img/for_men.jpg");
}

.offer-list-item-img__3 {
    background-image: url("../img/for_kids.jpg");
}

.offer-list-item-img__4 {
    background-image: url("../img/ACCESORIES.jpg");
    max-width: 1140px;
    width: 100%;
    height: 180px;
}

.offer-list-item-title {
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: column;
}

.offer-list-item-title__color {
    color: #F16D7F;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

/* ======= END offer ======= */

/* ======= product ======= */
.product {
    margin-bottom: 60px;
}

.product-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 6px 0;
}

.product-txt {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;   
    margin: 0 0 48px 0;
    text-align: center;
}
.product-list {
    margin: 0 0 48px 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 360px));
    gap: 30px;
}

.product-list-item__bgc {
    background-color: #F8F8F8; 
}



.product-list-item {
    position: relative;


}

.product-list-item:hover .product-list-item-btn {
    display: flex;
}

.product-list-item:hover .product-list-item-btn:hover {
    background-color: #ccc;
    border: 1px solid #000000;
    color: #000;
}
.product-list-item:hover .product-list-item-btn:hover svg {
    fill: #000;
}
.product-list-item:hover .product-list-item-btn:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.product-list-item:hover .product-list-item-btn:active svg {
    fill: #fff;
}

.product-list-item:hover .product-list-item-img-wrp:before {
    content: "";
    display: block;
    max-width: 360px;
    width: 100%;
    height: 100%; 
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    left: 0;
  }



.product-list-item-img-wrp {
    position: relative;
    background-color: #F7E4E2;
}
.product-list-item-img {
    max-height: 420px;
    display: block;
    box-sizing: border-box;
    max-width: 360px;
    width: 100%;
}

.product-list-item-description {
    margin: 24px 16px;
}

.product-list-item-description-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
    margin: 0 0 16px 0;
}

.product-list-item-description-txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 0 0 16px 0;
}

.product-list-item-description-price {
    color: #F16D7F;
    font-weight: 400;
    font-size: 16px;
}

.product-list-item-btn {
    display: none;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    max-width: 140px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: absolute;
    left: calc(50% - 70px);
    top: 30%;
    box-sizing: border-box;
    border: 1px solid #fff;
    padding: 11px 16px 8px 13px;
    
}

.product-list-item-btn svg {
    fill: #fff;
    margin: 0 11px 0 0;
}

.product-browse {
    max-width: 214px;
    width: 100%;
    text-align: center;
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 51px 14px 39px;
    margin: 0 auto 95px auto;
}

.product-browse:hover {
    color: #fff;
    background-color: #F26376;
}
.product-browse:active {
    color: #F26376;
    background-color: #fff;
}
/* ======= END product ======= */


/* ======= advantages ======= */

.advantages {
    background-color: #222224;
}

.advantages-wrp {

}

.advantages-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.advantages-list-item {
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 104px 0 104px 0;
}

.advantages-list-item__svg {
    margin: 0 0 28px 0;
}

.advantages-list-item__svg1 {
    margin: 0 0 19px 0;
}

.advantages-list-item__svg2 {
    margin: 0 0 25px 0;
}


.advantages-list-item-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin: 0 0 16px 0;
}

.advantages-list-item-txt {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;    
    color: #FBFBFB;
    
}

/* ======= END advantages ======= */


/* ======= subscribe ======= */

.subscribe {
    height: 448px;
}

.subscribe-background {
    background-image: url("../img/background_subscribe.jpg");
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 104px 0 0 0;
}

.subscribe-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 223px;
}


.subscribe-feedback {
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.subscribe-feedback-img {

}

.subscribe-feedback-img img {
    height: 96px;
}

.subscribe-feedback-txt {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe-feedback-txt span {
    font-style: italic;
}

.subscribe-email {
    display: flex;
    max-width: 557px;
    width: 100%;
    flex-direction: column;
    gap: 32px;

}

.subscribe-email-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.subscribe-email-title span {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}


.subscribe-email-form {
    display: flex;
    max-width: 356px;
    width: 100%;
    min-height: 49px; 
    justify-content: center;
    margin: 0 auto;
}
.subscribe-email-input {
    display: block;
    max-width: 322px;
    width: 100%;
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 7px 0 6px 22px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: #E1E1E1;
    color: #222224;
    opacity: 0.67;
    outline: none;

}

.subscribe-email-input::placeholder {
    background: #E1E1E1;
}

.subscribe-email-input:focus {
    cursor: pointer;
}

.subscribe-email-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 0 20px 20px 0;
    box-sizing: border-box;
    max-width: 100px;
    width: 100%;
    padding: 7px 20px 6px 21px;
    background-color: #E05C6E;
    color: #fff;
}

.subscribe-email-btn:hover {
    color: #E05C6E;
    background-color: #fff;

}

.subscribe-email-btn:active {
    background-color: #E05C6E;
    color: #fff;
}

/* ======= END subscribe ======= */



/* ======= footer ======= */

.footer {
    padding: 24px 0 23px 0;
    background-color: #222224;
}

.footer-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right {
    max-width: 332px;
    width: 100%;
}

.footer-right-txt {
    color: #FBFBFB;
}

.footer-list {
    max-width: 147px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 7.2px;
    align-content: center;
}
.footer-list-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
}
.footer-list-item svg {
    fill: #000;
}

.footer-list-item a:hover {
    background-color: #E05C6E;;
}

.footer-list-item a:hover svg {
    fill: #fff;
}
.footer-list-item a:active {
    background-color: #fff;
}
.footer-list-item a:active svg {
    fill: #000;
}
/* ======= END footer ======= */








@media (max-width: 1024px) {
    .center {
        max-width: 736px;
        width: 100%;
        margin: 0 auto;
    }

    .header {
        display: flex;
        padding: 19px 32px 19px 32px;
        flex-wrap: nowrap;
    }
    .header-logo {
        justify-content: flex-start;
        gap: 41px;
    }
    .header-button {
        justify-content: flex-end;
    }
    .top {
        gap: 39px;
        padding-left: calc(50% - 512px);
        padding-right: calc(50% - 512px);
    
    }
    .top-title {
        max-width: 311px;
    }
    .top-title-txt {
        font-weight: 900;
        font-size: 44px;
        line-height: 53px;
        max-width: 283px;
        width: 100%;
    }
    .top-title-txt__size {
    font-size: 24px;
    line-height: 29px;
    }
    .top-image {
        width: 386px;
        height: 368px;
    }
    .offer {
        margin: 0 auto 109px auto;
    }
    .offer-list {
        gap: 19px;
    }
    .offer-list-item-img {
        max-width: 232px;
        width: 100%;
        height: 167px;
    }
    .offer-list-item-img__4 {
        max-width: 734px;
        width: 100%;
        height: 116px;

    }
    .product-list {
        gap: 16px;
        grid-template-columns: repeat(2, minmax(30%, 360px));
    }
    .product-browse {
        max-width: 214px;
        width: 100%;
        margin: 0 auto 64px auto;
    }
    .advantages-wrp {
        padding: 48px 0 64px 0;
    }
    .advantages-list {
        flex-direction: column;
        gap: 48px;
    }
    .advantages-list-item {
        margin: 0;
    }
    .subscribe {
        height: 614px;
    }
    
    .subscribe-wrp {
        gap: 48px;
        flex-direction: column;
    }

    .subscribe-email {
        gap: 27px;
    }
    .subscribe-background {
        background-image: url("../img/background_subscribe-tablet.jpg");
        padding: 64px 0 0 0;
    }
    .footer-right {
        max-width: 251px;
        width: 100%;
    }
}







@media (max-width: 767px) {
    .center {
        max-width: 343px;
        width: 100%;
        margin: 0 auto;
    }

    .header-button-basket {
        display: none;
    }
    .header-button__hide {
        display: none;
    }

    .top {
        height: 363px;
        justify-content: center;
        align-items: center;
    }
    .top-image {
        display: none;
    }
    .top-title {
        gap: 15px;
    }
    .top-title-txt {
        font-weight: 900;
        font-size: 38px;
        line-height: 46px;
        max-width: 236px;
        width: 100%;
    }
    .top-title-txt__size {
        font-size: 20px;
        line-height: 24px;
    }
    .offer {
        margin: 0 auto 64px auto;
    }
    .offer-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }
    .offer-list li {
        max-width: 343px;
        width: 100%;
    }


    .offer-list-item-img {
        max-width: 343px;
        width: 100%;
        height: 249px;
    }
    .offer-list-item-img__4 {
        max-height: 111px;
        max-width: 343px;
        background-size: 220%;
    }
    .product-txt {
        margin: 0 0 64px 0;
    }
    .product-list {
        gap: 16px;
        grid-template-columns: repeat(1, minmax(30%, 360px));
    }
    .product-browse {
        max-width: 214px;
        width: 100%;
        margin: 0 auto 95px auto;
    }
    .advantages-list {
        gap: 46px;
    }
    .subscribe {
        height: 550px;
    }
    .subscribe-wrp {
        gap: 64px;
    }
    .subscribe-background {
        background-image: url("../img/background_subscribe-phone.jpg");
    }
    .subscribe-feedback-img img {
        height: 91px;
        width: 91px;
    }
    .subscribe-email-title {
        line-height: 37px;
    }
    .subscribe-email-title span {
        font-size: 14px;
        line-height: 21px;
    }
    .subscribe-feedback-txt {
        font-size: 18px;
        line-height: 22px;
    }
    .subscribe-email-form {
        max-width: 341px;
        width: 100%;
    } 
    .footer-wrp {
        flex-direction: column-reverse;
        gap: 40px;
    }
}